<%= semantic_form_for @idea, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_messages %>


	<%= f.inputs do %>
		<%= f.input :user %>
		<%= f.input :explaination, :as => :text, :input_html => {:rows => 5} %>
    <%= f.input :is_inappropriate, :as => :radio %>
    <%= f.input :is_duplicate, :as => :radio %>

	<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ideas_path, :class => 'btn btn-mini btn-warning' %>
  </div>


<% end %>
