<%- model_class = Idea -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:explaination) %></th>
      <th><%= model_class.human_attribute_name(:individual_votes) %></th>
      <th><%= model_class.human_attribute_name(:overall_votes) %></th>
      <th><%= model_class.human_attribute_name(:is_inappropriate) %></th>
      <th><%= model_class.human_attribute_name(:is_duplicate) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= link_to l(idea.created_at), idea_path(idea) %></td>
        <td><%= idea.user.email %></td>
        <td><%= idea.explaination %></td>
        <td><%= idea.individual_votes %></td>
        <td><%= idea.overall_votes %></td>
        <td><%= idea.is_inappropriate %></td>
        <td><%= idea.is_duplicate %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_idea_path(idea), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      idea_path(idea),
                      :method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
	<%= link_to t('.new', :default => t("helpers.links.new")),
            new_idea_path,
            :class => 'btn btn-primary' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn' %>
</div>
