<div id="<%= id %>" class="idea_list_block" style="display: none;">
	<% if !ideas_list || ideas_list.empty? %>
		<div class="idea_list_item">
			<%= t('.no_ideas') %>
		</div>
	<% else %>
		<% ideas_list.each_with_index do |idea,index| %>
			<div class="idea_list_item">
				<div class="row">
					<div class="span5">
						<%= link_to l(idea.created_at, :format => :long), idea_path(idea) %>
					</div>
					<div class="span3">
						<%= "#{t('app.common.author')}: #{idea.user.nickname}" %>
					</div>
				</div>
				<div>
					<%= truncate(idea.explaination, :length => 150, :separator => ' ') %>
				</div>
				<div class="row">
					<div class="span3">
						<%= "#{t('app.common.rating')}:" %>
					  <%= image_tag('thumbs-up-grey.png') %>
					  <% diff = idea.votes_diff %>
					  <span style="margin: 0 5px; color: <%= diff[:color] %>;"><%= diff[:number] %></span>
					  <%= image_tag('thumbs-down-grey.png') %>
					</div>
					<div class="span2">
						<%= "#{t('app.common.comments')}:" %>
						<fb:comments-count href="<%= full_url(idea_path(idea)) %>"></fb:comments-count>
					</div>
					<div class="span3">
						<%= link_to(image_tag("fb_share.jpg", :height => "20"),
									"http://www.facebook.com/share.php?u=#{current_url}",
									:title => "facebook",	:target => "_blank") %>
						<%= link_to(image_tag("twitter.jpg", :height => "20"),
									"https://twitter.com/share", :title => "twitter",
									:target => "_blank") %>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
