<%= semantic_form_for @idea, :url => :create_idea do |f| %>
	<h3><%= t('.form_header') %></h3>
	<%= f.error_messages %>
	<%= f.inputs do %>
		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
		<% else %>
			<%= link_to t('helpers.links.sign_in'), :new_user_session %>
		<% end %>

		<%= f.fields_for :idea_categories do |cat| %>
				<%= cat.input :category, :as => :select, :collection => Category.all %>
		<% end %>

		<%= f.input :explaination, :as => :text, :input_html => {:rows => 5, :cols => 50} %>

	<% end %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
