<div class="row">
	<div class="span5">
		blah blah blah
	</div>
	<div class="span1">&nbsp;</div>
	<div class="span5" style="border: solid 2px #ccc; padding: 5px;">
		<%= semantic_form_for @idea, :url => :create_idea do |f| %>
			<h3><%= t('app.common.post_idea') %></h3>
			<%= f.error_messages %>
			<%= f.inputs do %>
				<% if user_signed_in? %>
					<%= current_user.nickname %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
				<% else %>
					<%= link_to t('helpers.links.sign_in'), :new_user_session %>
				<% end %>

				<%= f.fields_for :idea_categories do |cat| %>
						<%= cat.input :category_id, :as => :select, :collection => @categories %>
				<% end %>

				<%= f.input :explaination, :as => :text, :input_html => {:rows => 5, :cols => 50} %>

			<% end %>

			<% if user_signed_in? %>
				<%= f.submit nil, :class => 'btn btn-primary' %>
			<% end %>
		<% end %>
	</div>
</div>

<%= render :partial => "shared/ideas_block", :object => @ideas %>
